.App {
  padding: 0;
  margin: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin:  0 7em 0 7em;
  padding: 10px;
  background-color: #E50914;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Sawarabi Mincho";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block{
  display: flex;
  justify-content: center;
}

.Login{
  justify-content: center;
  line-height: 3;
  margin: 10px;
  padding: 10px;
}
.loginUser{
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.user{
  text-align: right;
  margin: 2em;
}

.choiceUser{
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.others{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.otherUser{
  display: block;
}

.myLists-area{
  padding-left: 20px;
  margin: 40px;
  background-color: #ffffff23;
}
.myLists {
  text-align: center;
  margin: 2em 0;
  padding: 1em 1em;
  border: solid 3px #E50914;
  margin-right: 2em;
  list-style: none;
}

.table-area{
  margin: 40px;
  background-color: none;
}
.table {
  position: relative;
  text-align: center;
  margin: 2em 0;
  padding: 1em 1em;
  border: solid 3px #E50914;
  margin-left: 2em;
  list-style: none;
}
.table .time{
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #E50914;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.modal{
  display: flex;
  justify-content:center;
}
.modal-item{
  margin: 10px;
}

#overlay{
  z-index: 2;
  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(47, 47, 47, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#content{
  z-index:2;
  width:50%;
  font-size: 1.2rem;
  margin: 2em 0;
  padding: 0 0 2em 0 ;
  background: rgb(44, 44, 44);
}
#Title{
  font-size: 1.2em;
  background: #E50914;
  margin: 0 0 2em 0;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#form{
  display:flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin: 10px;
}
#text{
  margin: 20px;
}
#count{
  margin:20px;
  font-weight: bold;
}