.App {
  padding: 0;
  margin: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (min-width:901px) {
  .content{
    z-index:2;
    width:60%;
    font-size: 1.2rem;
    margin: 2em 0;
    padding: 0 0 2em 0 ;
    background: rgb(44, 44, 44);
  }
}

@media screen and (max-width:480px) {
  /*　画面サイズが480px以下の場合ここの記述が適用される　*/
 .App{
  width: 100%;
  zoom:90%;
 }
 .user-area{
  margin:2em;
  justify-content: center;
  text-align: center;
}
 .whole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
 }
.others{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content{
  z-index:2;
  width:90%;
  font-size: 1.2rem;
  margin: 2em 0;
  padding: 0 0 2em 0 ;
  background: rgb(44, 44, 44);
}
img.modal-item{
  width: 60%;
  height: 85%;
}
}
@media screen and (min-width:481px) and (max-width:900px) {
  .App{
    width: 100%;
    zoom:90%;
   }
  .content{
    z-index:2;
    width:60%;
    font-size: 1.2rem;
    margin: 2em 0;
    padding: 0 0 2em 0 ;
    background: rgb(44, 44, 44);
  }
}
.App-header {
  margin:  0 7em 0 7em;
  padding: 10px;
  background-color: #E50914;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Sawarabi Mincho";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.whole{
  display: flex;
  justify-content: center;
}
.block{
  display: flex;
  justify-content: center;
}
.wrap-center{
  padding:1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login{
  justify-content: center;
  line-height: 3;
  margin: 1rem;
  padding: 1rem 1rem;
}
.loginUser{
  margin: 1em;
  padding: 1em;
  justify-content: center;
}

.user{
  text-align: right;
  margin: 2em;
}

.choiceUser{
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
}

.others{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.otherUser{
  display: block;
}

.myLists-area{
  padding-left: 2rem;
  margin: 4rem;
  background-color: #ffffff23;
}
.myLists {
  text-align: center;
  margin: 2em 0;
  padding: 1em 1em;
  border: solid 0.2em #E50914;
  margin-right: 2em;
  list-style: none;
}

.table-area{
  margin: 4rem;
  background-color: none;
}
.table {
  position: relative;
  text-align: center;
  margin: 2em 0;
  padding: 1em 1em;
  border: solid 0.2em #E50914;
  margin-left: 2em;
  list-style: none;
}
.table .time{
  position: absolute;
  display: inline-block;
  top: -1.3em;
  left: -0.15em;
  padding: 0 0.5em;
  height: 1.2em;
  line-height: 1.2em;
  font-size: 1.3em;
  background: #E50914;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.1em 0.1em 0 0;
}

.modal{
  display: flex;
  justify-content:center;
}
.modal-item{
  margin: 0.5em;
}

#overlay{
  z-index: 2;
  /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(47, 47, 47, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#Title{
  font-size: 1.2em;
  background: #E50914;
  margin: 0 0 2em 0;
  padding: 0.5em;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#form{
  display:flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin: 10px;
}
#text{
  margin: 20px;
}
#count{
  margin:20px;
  font-weight: bold;
}